@import 'tailwindcss';

@theme {
  --color-dark-bg-1: #2A004E;
  --color-dark-text-1: #EEEEEE;
  --color-dark-text-2: #219B9D;
  --color-dark-bg-2: #500073;
  --color-dark-bg-3: #C62300;
  --color-dark-bg-4: #F14A00;
  --color-dark-bg-5: #FF8000;

  --color-light-bg-1: #FFD2A0;
  --color-light-text-1: #333333;
  --color-light-accent-1: #F14A00;
  --color-light-bg-2: #f2f2f2;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --time-swimline-width: 150px;
  --slot-fixed-height: 112px
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}
